@media screen and (max-width: 750px) {
    .house-wrapper {
        width: 90%;

        &__img-wrapper {
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
