.house-wrapper {
  width: 25%;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 10px;

  &__img-wrapper {
    padding: 10px 0;
    position: relative;

      img{
        width: 100%;
        height: 250px;
      }
  }

  &__img-wrapper-single  {
    padding: 10px 0;
    position: relative;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    color: blue !important;

    &:hover {
      cursor: pointer;
    }
  }

  &__address {
    margin-top: 10px !important;
  }

  &__price-in-galery {
      position: absolute;
      z-index: 1;
      color: #ffff !important;
  }
}
@import "./HouseWrapper.tablet.scss";
@import "./HouseWrapper.mobile.scss";
