.home-page {
  &__template-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 20px 0;
  }

  &__grid {
    width: 100% !important;
  }
}
