
:global {
  body {
    background-color: #eeeeee;
    min-height: 100vh;
  }
  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
